<!doctype html>
<html ng-app="Supermarket">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">   
<title>超市列表</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery1.9.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/chaoshilist.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<body ng-controller="SupermarketController as Supermarket">

  <div class="pai1" ng-repeat="map in Supermarket.marketList" ng-click="Supermarket.gotoSupermarketDetail(map.id)"><img ng-src="http://{{Supermarket.url}}/supermarket_images/market/{{map.head_pic}}"  alt="" />
    <p class="pai3">{{map.name}}</p>
  </div>
</body>
</html>
