<!doctype html>
<html ng-app="Jianguan">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
<title>兑换</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery1.9.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>

<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/liwulist.js"></script>
</head>
<body ng-controller="JianguanController as Jianguan">

<div class="duihuanitem" ng-repeat="map in Jianguan.list">
  <div  class="duihuan-img" ng-switch on="$index">
  <img ng-switch-when="0" src="images/dh1.png" alt=""/>
  <img ng-switch-when="1" src="images/dh2.png" alt=""/>
  <img ng-switch-when="2" src="images/dh3.png" alt=""/>
  <img ng-switch-when="3" src="images/dh4.png" alt=""/>
  </div>
  <div  class="duihuan-middle">
    <p  class="duihuan-name">{{map.name}}</p>
    <p  class="duihuan-jifen">{{map.point}}积分</p>
    <p class="duihuan-xian">限量{{map.rangenum}}件</p>
  </div>
    <div  class="duihuan-right">
    <p ng-click="Jianguan.duihuan();">立即兑换</p>
  </div>
</div>


</body>
</html>
